---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import Footer from "../../components/footer/Footer.astro";
import OverlayText from "../../components/textIslands/OverlayText.astro";
import OverlayRightBox from "../../components/textIslands/OverlayRightBox.astro";

import peopleImg from "./01_PEOPLE_TOURISM.png";
import placesImg from "./02_PLACES_TOURISM_a.png";
import practicesImg from "./03_PRACTICES_TOURISM.png";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);

const from = 1950;
const to = 1980;
const importantDates = [1950, 1961, 1963, 1965, 1972, 1980];
---

<Layout>
  <div class="">
    <MapComponent
      title={t("turism.title1") + " " + t("turism.title2")}
      client:load
    />
  </div>
  <Container>
    <TitleCols
      title1={t("turism.title1")}
      title2={t("turism.title2")}
      author={t("turism.author")}
      body1={t("turism.intro.first")}
      body2={t("turism.intro.second")}
    />
    <RightText
      body={t("turism.people.text")}
      image={peopleImg}
      source={t("turism.people.source")}
      title={t("generic.people")}
    />
  </Container>

  <OverlayRightBox
    body={t("turism.places.text")}
    image={placesImg}
    source={t("turism.places.source")}
    title={t("generic.places")}
  />
  <Container>
    <div class="py-20">
      <BlueBoxText
        body={t("turism.practices.text")}
        image={practicesImg}
        source={t("turism.practices.source")}
        title={t("generic.practices")}
      />
    </div>
    <div class="flex justify-end">
      <ArrowNext />
    </div>
  </Container>
</Layout>
