---
import { getLocale } from "astro-i18n-aut";
import ArrowNext from "../../components/ArrowNext.astro";
import { MapComponent } from "../../components/map/Map";
import TitleCols from "../../components/titleSection/TitleCols.astro";
import Container from "../../layouts/Container.astro";
import Layout from "../../layouts/Layout.astro";
import { initializei18n } from "../../utils/i18n";
import BlueBoxText from "../../components/textIslands/BlueBoxText.astro";
import LeftText from "../../components/textIslands/LeftText.astro";
import RightText from "../../components/textIslands/RightText.astro";
import Footer from "../../components/footer/Footer.astro";

import peopleImg from "./01_PEOPLE_HUNT_a.png";
import placesImg from "./02_PLACES_HUNT.png";
import practicesImg from "./03_PRACTICES_HUNT.png";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
---

<Layout>
  <div class="">
    <MapComponent
      title1={t("hunt.title1")}
      title2={t("hunt.title2")}
      client:load
    />
  </div>
  <Container>
    <TitleCols
      author={t("hunt.author")}
      body1={t("hunt.intro.first")}
      body2={t("hunt.intro.second")}
    />
    <BlueBoxText
      body={t("hunt.people.text")}
      image={peopleImg}
      source={t("hunt.people.source")}
      title={t("generic.people")}
    />
    <div class="lg:h-40"></div>
    <LeftText
      body={t("hunt.places.text")}
      image={placesImg}
      source={t("hunt.places.source")}
      title={t("generic.places")}
    />
    <div class="lg:h-40"></div>

    <RightText
      body={t("hunt.practices.text")}
      image={practicesImg}
      source={t("hunt.practices.source")}
      title={t("generic.practices")}
    />
    <div class="flex justify-end">
      <ArrowNext />
    </div>
  </Container>
</Layout>
