---
import TextInitial from "../TextInitial.astro";
import TextWithYears from "../yearWrapper/TextWithYears";

interface Props {
  body1: string;
  body2: string;
  leftQuote?: string;
  rightQuote?: string;
}

const { body1, body2, leftQuote, rightQuote } = Astro.props;
---

<div class="grid lg:grid-cols-2 grid-cols-1 w-full">
  <div class="w-full flex flex-col z-30 lg:-mt-36 border-t-6 border-white/30">
    <div class="bg-white flex flex-col px-8 z-30 gap-8 py-8">
      <span class="lg:max-w-lg max-w-prose text-justify lg:mx-auto text-lg">
        <TextInitial text={body1} />
      </span>
    </div>
    {
      leftQuote && (
        <div class="text-2xl/8 tracking-wide italic text-brand-beige-dark/70 max-w-lg -ml-32 py-8 text-justify">
          {leftQuote}
        </div>
      )
    }
  </div>

  <div class="flex flex-col z-30 lg:-mt-24 border-t-6 border-white/30">
    <div class="bg-white flex flex-col lg:py-8 gap-8">
      <span
        class="lg:max-w-lg max-w-prose text-justify lg:mx-auto text-lg pt-12"
      >
        <TextWithYears body={body2} client:idle />
      </span>
      {
        rightQuote && (
          <div class="ml-auto text-2xl/8 tracking-wide italic text-brand-beige-dark/70 max-w-lg -mr-32 py-8 text-justify">
            {rightQuote}
          </div>
        )
      }
    </div>
  </div>
</div>
