---
import Image from "astro/components/Image.astro";
import TitleBox from "../TitleBox.astro";
import ImageWraper from "../ImageWraper.astro";
import TextWithYears from "../yearWrapper/TextWithYears";
interface Props {
  title: string;
  body: string;
  source: string;
  image: ImageMetadata;
}

const { title, body, image, source } = Astro.props;
---

<div class="w-full grid md:grid-cols-4 grid-cols-1 py-8 lg:px-4 lg:gap-16">
  <div class="flex items-center justify-center col-span-3 md:-ml-48">
    <ImageWraper>
      <Image src={image} alt="ajow" class="w-full h-full object-contain" />
    </ImageWraper>
  </div>

  <div class="flex flex-col lg:py-0 py-8">
    <TitleBox title={title} class:list="-ml-8" />
  </div>

  <div class="col-span-full flex justify-start p-8">
    <div class="flex flex-col">
      <span class="text-justify max-w-prose">
        <TextWithYears body={body} client:idle />
      </span>
      <span class="ml-auto font-light text-brand-beige-dark">{source}</span>
    </div>
  </div>
</div>
