---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import { Image } from "astro:assets";

import mainImg from "./hero.webp";
import mapImg from "./map.png";

import TextInitial from "../components/TextInitial.astro";
import { initializei18n } from "../utils/i18n";
import { getLocale } from "astro-i18n-aut";
import LanguageSelector from "../components/langSelect/LanguageSelector.astro";
import TableOfContents from "../components/pageNavigation/TableOfContents.astro";
import { generateLocaleLink } from "../components/langSelect/languageutils";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
---

<Layout>
  <Image
    src={mainImg}
    alt="title image"
    class="w-full h-full object-cover object-top absolute -z-10"
  />
  <div class="h-8/12"></div>
  <div class="z-10 w-full">
    <Container>
      <div class="text-lg/8 mx-auto bg-white px-6 pt-8">
        <div class="flex justify-between items-center flex-col lg:flex-row">
          <div class="py-4 mx-auto text-center">
            <h1
              class="text-brand-blue md:text-8xl text-7xl font-adapt font-extrabold inline"
            >
              Never Mind the Borders
            </h1>
          </div>
        </div>
        <h2
          class="md:text-6xl text-4xl font-thin tracking-tight mx-auto text-center opacity-60 px-16"
        >
          {t("subtitle")}
        </h2>
        <div class="w-full flex justify-center pt-12">
          <div class="flex gap-4 text-2xl text-brand-blue">
            <LanguageSelector />
          </div>
        </div>
      </div>
    </Container>

    <div class="mx-auto bg-white w-full py-48">
      <Container>
        <div class="text-xl text-justify md:px-12 px-6">
          <div class="flex">
            <TextInitial text={t("intro.body")} />
          </div>
          <div class="w-full flex justify-end pt-16">
            <div class="text-xl text-brand-beige-dark">Borut Klabjan</div>
          </div>

          <div class="pt-24 italic opacity-80">
            {t("gendernotice")}
          </div>
        </div>
      </Container>
    </div>
  </div>

  <div class="bg-white py-24 my-64 px-8">
    <Container>
      <h2 class="-mr-4 text-6xl font-bold p-2 px-6 font-adapt text-brand-blue">
        {t("generic.exhibition")}
      </h2>
      <h2
        class="-mr-4 text-8xl font-bold p-2 px-6 font-adapt text-brand-blue/10 -mt-30"
      >
        {t("generic.exhibition")}
      </h2>

      <div
        class="w-full grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-4 py-32 justify-center items-center"
      >
        <TableOfContents />
      </div>

      <div class="flex w-full">
        <div class="px-6 pt-16">
          <div class="group hover:shadow-xl transition duration-300">
            <a
              href={generateLocaleLink("/MAP/", Astro.url.pathname)}
              class="pl-8 py-6 bg-brand-blue text-white lg:text-3xl text-xl font-plex font-bold tracking-tight inline-flex overflow-hidden"
            >
              Zemljevid
              <Image
                alt=""
                src={mapImg}
                class="w-96 object-contain -my-12 -mr-8 saturate-0 group-hover:saturate-100"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="w-full flex lg:justify-end justify-center pt-32">
        <a
          class="text-2xl font-semibold underline text-brand-blue"
          href={generateLocaleLink("/KOLOFON/", Astro.url.pathname)}
        >
          {t("thanks")}
        </a>
      </div>
    </Container>
  </div>
</Layout>
