---
import Layout from "../layouts/Layout.astro";
import Container from "../layouts/Container.astro";
import Image from "astro/components/Image.astro";

import mainImg from "./hero.png";
import TextInitial from "../components/TextInitial.astro";
import { initializei18n } from "../utils/i18n";
import { getLocale } from "astro-i18n-aut";
import LanguageSelector from "../components/langSelect/LanguageSelector.astro";
import TableOfContents from "../components/pageNavigation/TableOfContents.astro";

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
---

<Layout>
  <Image
    src={mainImg}
    alt="title image"
    class="w-full h-full object-cover absolute -z-10"
  />
  <div class="h-6/12"></div>
  <!-- text -->
  <div class="z-10 w-full">
    <!-- title -->

    <!-- text -->
    <Container>
      <div class="text-justify text-lg/8 mx-auto bg-white px-12">
        <div class="flex justify-between items-center">
          <div class="max-w-sm py-18">
            <span class="text-brand-blue text-8xl font-adapt font-extrabold"
              >"Never Mind the borders"</span
            >
          </div>

          <div
            class="flex flex-col font-adapt font-light text-5xl text-left max-w-sm"
          >
            <div class="max-w-lg text-black/10">
              <span class="">People Places Practices</span>
            </div>
            <div class="max-w-lg -my-7 font-bold">
              <span class="">Ljudje, Kraji in prakse</span>
            </div>
            <div class="max-w-lg">
              <span class="text-black/10">persone, luoghi e pratiche</span>
            </div>
            <div class="text-brand-blue py-8 text-3xl">
              <LanguageSelector />
            </div>
          </div>
        </div>
      </div>
    </Container>

    <div class="mx-auto bg-white w-full py-32">
      <Container>
        <div
          class="max-w-3xl mr-auto text-lg text-justify px-12 border-r-3 border-dotted border-brand-blue/30"
        >
          <p>
            <TextInitial
              text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, consectetur voluptas vel nisi distinctio a ab rerum iusto amet. Incidunt enim, autem sed veritatis iste natus id similique quaerat at? Libero, iste?"
            />
          </p>

          <p>
            temu pa so državniki v desetletju po vojni počasi začeli
            prepoznavati ugodne učinke dobrososedskih odnosov na politični in
            gospodarski, pa tudi kulturni in družbeni ravni. Tako se je v času,
            ko so v Berlinu medsebojne težave reševali z izgradnjo zidu, na
            južnem koncu linije – ki jo je Winston Churchill leta 1946
            poimenoval železna zavesa – postopoma uveljavil drugačen pristop.
            Zato se je lahko leta 1961, medtem ko je med zahodnim in vzhodnim
            Berlinom rasel betonski zid, slovenski režiser Mako Sajko na drugem
            koncu Evrope v svojem dokumentarnem filmu spraševal, Kje je železna
            zavesa? A ne gre le za preusmeritev pogleda proti jugu, temveč tudi
            za drugačno perspektivo. Ta ob vlogi pomembnih mož (bolj poredkoma
            žensk) in državnih institucij upošteva tudi vlogo tako imenovanega
            malega človeka in na vsakdanje življenje: prehajanje meje je namreč
            (lahko) bilo skoraj vsakdanje opravilo. Meja je bila vseka kor
            prisotna in jo je bilo mogoče v marsičem občutiti. A prej kot
            nepremostljiva ovira je bila moteči element, ki pa je vendarle
            omogočal raznolike čezmejne prakse, od nakupov živil in bele
            tehnike, do nedeljskih kosil in poletnega dopusta. Pričujoča
            razstava odstira pogled na ljudi, kraje in prakse, ki so zaznamovali
            čezmejno interakcijo na vsakdanji ravni in omogočili postopno
            integracijo. Skratka, če se z vrha berlinskega zidu preselimo v
            prostor Alpe-Jadran, je zgodovina Evrope videti drugače.
          </p>
        </div>
      </Container>
    </div>
  </div>

  <div class="bg-white py-24 my-64">
    <Container>
      <h2 class="-mr-4 text-6xl font-bold p-2 px-6 font-adapt text-brand-blue">
        Razstava
      </h2>
      <h2
        class="-mr-4 text-8xl font-bold p-2 px-6 font-adapt text-brand-blue/10 -mt-30"
      >
        Razstava
      </h2>

      <div
        class="w-full grid grid-cols-3 gap-4 py-32 justify-center items-center"
      >
        <TableOfContents />
      </div>

      <div class="w-full flex justify-end">
        <a class="text-2xl font-semibold underline text-brand-blue" href="">
          Avtorji in zahvale
        </a>
      </div>
    </Container>
  </div>
</Layout>
