---
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="min-h-screen py-24">
    <Container>
      <h1 class="font-plex font-bold text-6xl text-brand-blue">Kolofon</h1>
      <h2 class="font-plex text-4xl text-brand-blue py-6">
        Avtorji in zahvale
      </h2>

      <div class=""></div>
    </Container>
  </div>
</Layout>
