---
import { getLocale } from "astro-i18n-aut";
import Layout from "../layouts/Layout.astro";
import { generateTranslationContent, initializei18n } from "../utils/i18n";
import { MainTimeline } from "../components/interactiveTimeline/MainTImeline";

const allPages = await import.meta.glob("/src/pages/*/index.astro");
// Convert the object to an array of entries
const pageEntries = Object.entries(allPages);

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
const resources = await generateTranslationContent();
---

<Layout nofoot>
  <div class="w-screen h-screen">
    <MainTimeline client:load />
  </div>
  <!--   
  <div class="overflow-hidden h-screen w-screen">
    <div class="w-full bg-brand-blue flex gap-4">
      <a href="/" class="px-4 py-2 text-brand-blue bg-white"
        >{t("generic.home")}</a
      >
      <Sidebar />
      <div class="flex-1 flex justify-end items-center">
        <div class="flex text-white gap-4 px-8 items-center">
          <LanguageSelector />
        </div>
      </div>
    </div>
  </div> -->
</Layout>
