---
import { getLocale } from "astro-i18n-aut";
import { initializei18n } from "../utils/i18n";

// src/components/CardLink.astro
interface Props {
  href: string;
  tKey: string;
}

const { href, tKey } = Astro.props;

const locale = getLocale(Astro.url);
const t = await initializei18n(locale);
---

<div class="flex flex-col my-32 w-fit lg:ml-auto lg:mx-0 mx-auto font-plex">
  <span class="text-brand-beige-dark">{t("generic.nextpage")}</span>
  <div class="flex gap-6">
    <a
      href={href}
      class="text-3xl text-brand-blue font-adapt font-medium -tracking-wide"
      >{t(tKey + ".title1")}</a
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right text-brand-blue"
      ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
        d="M9 6l6 6l-6 6"></path></svg
    >
  </div>
</div>
