<div
  class="bg-brand-beige-light p-8 text-xl text-white font-bold flex items-center w-fit pr-24 overflow-hidden"
>
  <span class="max-w-64 underline">Tihotapstvo v zgodnji hladni vojni</span>
  <div
    class="border-b-8 border-r-8 border-white aspect-square p-8 -rotate-45 h-32 w-32 -my-8"
  >
  </div>
</div>
