---

---

<div class="relative">
  <div class="w-full h-full absolute">
    <div
      class="bg-brand-blue/30 hover:bg-brand-blue/0 transition w-full h-full"
    >
    </div>
  </div>
  <slot />
</div>
