---
interface Props {
  text: string;
}

const { text } = Astro.props;
const firstLetter = text.charAt(0);
const remainingText = text.slice(1);
---

<!-- <span class="inline leading-6">
  <span class="text-6xl pl-3 pr-1 pt-4 font-bold bg-brand-beige-dark text-black"
    >{firstLetter}</span
  >
  {remainingText}
</span> -->
<span class="inline leading-2">
  <span class="text-8xl -mr-4 pt-4 font-bold text-brand-beige-dark"
    >{firstLetter}</span
  >
  {remainingText}
</span>
