---
import TableOfContents from "../pageNavigation/TableOfContents.astro";
---

<script>
  let isOpen = false;

  function toggleSidebar() {
    console.log("Toggle sidebar", isOpen);

    isOpen = !isOpen;
    const sidebar = document.querySelector("#sidebar");
    if (sidebar) {
      (sidebar as HTMLElement).style.display = isOpen ? "block" : "none";
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const toggleButton = document.querySelector("#toggle-sidebar-button");
    if (toggleButton) {
      toggleButton.addEventListener("click", toggleSidebar);
    }
  });

  // toggle sidebar on clicking the blured background
  const sidebar = document.querySelector("#sidebar");
  if (sidebar) {
    sidebar.addEventListener("click", (e) => {
      if (e.target === sidebar) {
        isOpen = false;
        (sidebar as HTMLElement).style.display = "none";
      }
    });
  }
</script>

<button
  id="toggle-sidebar-button"
  class="bg-white text-brand-blue px-4 py-1 font-bold cursor-pointer"
>
  Table of contents</button
>

<div
  class="w-full h-full fixed backdrop-blur-sm z-100 bg-white/30 overflow-hidden top-0 left-0"
  id="sidebar"
  style="display: none;"
>
  <div
    class="bg-white h-full p-12 shadow-2xl overflow-y-auto md:w-fit max-w-prose"
    id="inner"
  >
    <h3 class="px-4 py-16 text-brand-blue text-3xl font-bold">
      Table of contents
    </h3>
    <TableOfContents />
  </div>
</div>
