<div
  class="absolute p-4 border-l-2 border-brand-blue flex flex-col m-8 gap-4 bg-white z-50 w-10 text-nowrap overflow-hidden ml-0"
>
  <div class="text-2xl font-bold text-brand-blue">Kazalo</div>
  <div class="flex text-lg gap-4">
    <span class="font-black">01</span>
    <span>Meja in most</span>
  </div>

  <div class="flex text-lg gap-4">
    <span class="font-black">02</span>
    <span>Nek punk fora</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">03</span>
    <span>Loveljenje zivali cez mejo</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">04</span>
    <span>Čezmejne investicije</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">01</span>
    <span>Meja in most</span>
  </div>

  <div class="flex text-lg gap-4">
    <span class="font-black">02</span>
    <span>Nek punk fora</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">03</span>
    <span>Loveljenje zivali cez mejo</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">04</span>
    <span>Čezmejne investicije</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">01</span>
    <span>Meja in most</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">02</span>
    <span>Nek punk fora</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">03</span>
    <span>Loveljenje zivali cez mejo</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">04</span>
    <span>Čezmejne investicije</span>
  </div>
  <div class="flex text-lg gap-4">
    <span class="font-black">01</span>
    <span>Meja in most</span>
  </div>
</div>
